/* styles.css */

body {
  font-family: Roboto, sans-serif;
}

table {
  width: 100%;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

mat-paginator {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-top: 20px;
}
